<h1>Click Button to Scrape Articles</h1>

<button type="button" class="btn btn-primary">Scrape Articles</button><br><br>

<ul>
  {{#each articles}}
  {{#unless saved}}

  <img src="{{img}}" />

  <a href="{{link}}">
    <h1>{{title}}</h1>
  </a>

  <a href="{{authorLink}}">
    {{authorName}}
  </a> | {{date}}

  <p>{{summary}}</p>

  {{> buttons/buttons}}
  <br><br>
  {{/unless}}
  {{/each}}
</ul>