<p id="title">Moz Blog Scraper</p>
<img src="/assets/img/dig4.jpg" width="80%" />

<div id="buttons-div" class="m-3">
  <button type="button" id="scrape-btn" class="btn">Scrape Articles</button>
  <a href="/savedarticles"><button type="button" id="saved-btn" class="btn">View Saved
    </button></a><br><br>
</div>

<ul>
  {{#each articles}}
  {{#unless saved}}
  <div class="card mx-auto m-5">
    <img src="{{img}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><a href="{{link}}">
          {{title}}
        </a></h5>
      <p class="card-text">{{summary}}</p>
      <a href="{{authorLink}}">
        {{authorName}}
      </a> | {{date}}
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{> buttons/buttons}}</li>
    </ul>

  </div>
  {{/unless}}

  {{!-- This is the COMMENT modal --}}
  <div class="modal comment-modal" id="modal-{{_id}}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">New Comment</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div id="form-div" class="mx-auto">
            <form id="comment-form" class="mx-auto">
              <div class="form-group">
                <h5>Name</h5>
                <input type="email" class="form-control" id="comment-name-{{_id}}" aria-describedby="emailHelp"
                  placeholder="Enter Name">
              </div>

              <div class="form-group">
                <h5>Comment</h5>
                <textarea class="form-control" id="comment-text-{{_id}}" rows="3"
                  placeholder="Enter Comment"></textarea>
              </div>

              <button type="button" id="save-comment" class="btn btn-primary m-2 save-comment"
                data-id="{{_id}}">Save</button>
            </form>
          </div>

          <br>
          <div id=" all-div" class="mx-auto">
            <h4>All Comments</h4>
            {{#comments}}
            <div class="card bg-light m-2">
              <div class="card-body">
                <h5>{{> buttons/deletebtn}} {{name}} </h5>
                <p>{{text}}</p>
              </div>
            </div>
            {{/comments}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</ul>