<h1>Saved Articles</h1>

<h2>All Saved Articles</h2>

<ul>
  {{#each articles}}
  {{#if saved}}

  <img src="{{img}}" />

  <a href="{{link}}">
    <h1>{{title}}</h1>
  </a>

  <a href="{{authorLink}}">
    {{authorName}}
  </a> | {{date}}

  <p>{{summary}}</p>

  {{> buttons/deletebtn}}
  <br><br>

  {{/if}}
  {{/each}}
</ul>